<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
	{% load staticfiles %}
    <title>FBJ</title>
    <!--boootstrap-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
    <!--my css -->
    <link rel="stylesheet" href="{% static 'tempSite/css/app.css' %}" type="text/css" />
    <link rel="icon" href="{% static 'tempSite/images/football.png' %}"/>
    <style type="text/css">html, body{height:100%;} </style>
  </head>
  <body id="fbj_body">
    <div class="fbj_wrapper">
      <div class="fbj_header"><strong>Welcome to Football Blackjack</strong><img src="{% static 'tempSite/images/FBJ_logo.png' %}"></div>

	{% block content %}
	{% endblock %}

      <div class="fbj_footer">
        <div class="sign">S Jones 2016</div>
      </div>
    </div>
  </body>
</html>
